@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

  /* Global styles */
body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(13, 13, 13, 0.6)), url(' https://cdn.pixabay.com/photo/2017/08/07/19/44/girl-2607110_640.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  
  
 }

header nav {
  display: flex;
  width: 98vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
}

ul li a{
  margin: 0px 15px;
  text-decoration: none;
  padding: 0px 10px;
  margin: 5px 13px;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
}


ul i{
  padding: 0px 3px;
}

ul a:hover{
  color: rgb(255, 192, 192);

}

div ul a.active{
  color: rgb(56, 194, 232);
}





.logo h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 38px;
  margin: 24px 13px;
  text-transform: uppercase;
}

.icon {
  background-color: red;
  border-radius: 14px;
}


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 80vh;
}

h1{
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.join-btn {
  padding: 10px 24px;
  margin-top: 30px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  position: relative;
  border-radius: 10px;
}

.join-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 255, 172, 0.3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s ease;
}

.join-btn:hover::after {
  transform: scaleX(1);
}

.join-btn:active::after {
  transform: scaleX(0);
  transition: transform 10s;
}


.btn {
  padding: 12px 24px;
  margin-right: 19px;
  background-color: #4CAF50;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  border: none;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}

.btn:hover::before {
  width: 200%;
  height: 200%;
}

.btn:active::before {
  width: 0;
  height: 0;
  transition: none;
}



footer {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 15px;
  height: 0px;
}


/*
i am actually creating this whole project with only HTML ,CSS and JAVASCRIPT, it's quite of a challenge now cause i'm gonna have to add the css from all the links (about,sercices,classes,trainers and contact us) in this one file,i am sure it's gonna get messy */


/* i'm going to start with my About link  firt the i will move on with the following link */
#about-bg-pic{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(13, 13, 13, 0.6)), url(' https://cdn.pixabay.com/photo/2016/12/25/22/49/workout-1931107_640.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
  height: 98%;
  width: 90%;

}

.container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 100vw;
  height: 89vh;
  
}

.first-div {
  background-color: #90dc94;
  margin-top: 90px;
  margin-left: 80px;
  padding: 26px 60px;
  width: 400px;
  height: 400px;
  border-radius: 37px;
  box-shadow: 29px 6px 10px 0 rgba(63, 110, 27, 0.5);
}

p {
  font-size: 20px;
  display: contents;
}

h1 {
  padding: 12px 0px;
  font-size: 25px;
  display: contents;
  display: block;
}

.second-div {
  background-color: #cd5fbb;
  margin-top: 90px;
  margin-right: 80px;
  padding: 26px 60px;
  width: 400px;
  height: 400px;
  border-radius: 37px;
  box-shadow: 25px 18px 28px 0 rgba(132, 16, 33, 0.5);
}


/* I am now moving on with Services */
#service-bg-pic{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(13, 13, 13, 0.6)), url(' https://cdn.pixabay.com/photo/2014/11/11/15/24/gym-526995_640.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70vh;
  margin: 35px 0px;
  margin-left: 25px;
}

#service {
  color: #fff;
  padding: 16px;
  text-align: center;
  width: 100%;
  height: 70vh;
  
}

#service ul li {
 font-size: 20px;
 list-style: none;
 margin: 5px 0px;
}


#service ul {
  margin: 15px 0px;
}

#title h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  text-decoration-line: underline;
}


#service h2{
  color: #ffcfcf;
  margin: 22px 0px;
}

#service p{
  line-height: 1.5;
  font-size: 28px;
}


#down-pic {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(13, 13, 13, 0.6)), url('https://cdn.pixabay.com/photo/2015/12/30/11/57/fruits-1114060_640.jpg ');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10vh;
  color: white;
  text-align: center;
}


/* CLASSES LINK */
#class-bg-pic{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(13, 13, 13, 0.6)), url(' https://cdn.pixabay.com/photo/2013/02/15/12/04/billy-blanks-81880_640.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}

#container-class{
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 85%;
  height: 55vh;
  color: white;
  margin: 0px 50px;
}


#h1-class {
  background-color: #bbdaff;
  border-radius: 16px;
  padding: 8px 17px;
  border-bottom: 10px solid #a296ee;
  width: 30%;
  color: rgb(92, 65, 65);
  font-size: 55px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 15px;
}

#class p{
  font-size: 27px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#class {
  margin-bottom: 29px;
  padding: 20px;
}

#container-class h2 {
  margin: 14px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#class ul { 
  margin: 9px 0px;
  font-size: 19px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* CONTACT LINK */
#contact-bg-pic{
  margin: 0 ;
  padding: 0;
  background-image: linear-gradient(rgba(50, 50, 62, 0.6),rgba(41, 4, 4, 0.6)), url(' https://cdn.pixabay.com/photo/2022/01/07/08/39/contact-us-6921414_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#contact-us{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 82vh;
}

#feedback{
  color: white;
  margin-right: 6px;
  width: 100%px;
  height: 90px;
  margin-left: 40px;
  margin-bottom: 90px;
}

#h1 {
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#p{
  color: rgb(232, 241, 207);
  font-size: 24px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  
}

.contact {
  border: 2px solid white;
  margin: 0px 25px;
  padding: 9px 40px;
  color: white;
  width: 23%;
}

h2 {
  text-align: center;
  font-size: 35px;
}

.contact label{
  font-size: 19px;
}


input[type=text], textarea {
  width: 100%;
  padding: 18px 18px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #e1b481;
  box-sizing: border-box;
  border-radius: 7px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.contact > button {
  width: auto;
  float: right;
}


.footer-ct {
  background-color: #333;
  color: #fff;
  padding: 35px;
  text-align: center;
}

.footer-ct p {
  margin: 0;
}

.footer-ct a {
  color: #fff;
  text-decoration: none;
}



/* FOR MY JOIN NOW LINK */
#join-bg-pic{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(50, 50, 62, 0.6),rgba(41, 4, 4, 0.6)), url('https://cdn.pixabay.com/photo/2020/04/21/07/59/fitness-5072021_640.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 88vh;
}

.signup-container{
  height: 50vh;
  width: 30%;
  padding: 30px;
  color: white;
  border-radius: 8px;
}

 .h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  height: 50px;
}

.form-group input{
  font-size: 16px;
  margin: 6px 0px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 9px;
  
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 10px 0px;
}

button[type="submit"]:hover {
  background-color: #2d7a31;
}

#success{
  background-color: #7fc983;
  border-radius: 14px;
  font-size: 24px;
  color: white;
  text-align: center;
}